<div style="margin-left: 20%;" *ngIf="!user">
    <h1>Bienvenido a tu test!</h1>
    <form [formGroup]="myForm" (ngSubmit)="login()">
        <div>
            <label>Usuario</label><br>
            <input type="text" formControlName="username"><br>
            <label>Contraseña</label><br>
            <input type="password" formControlName="password"><br>
        </div>
        <br>
        <div>
            <button type="submit" [disabled]="myForm.invalid">Connectar</button>
            <input type="button" (click)="anular()" value="Anular">
        </div>
    </form>


</div>
<div *ngIf="user" style="margin-top: 0%;">
    <table>
        <tr>
            <td style="width: 95%;">
                <h2> Pendientes</h2>
                <div *ngIf="pendingList && pendingList.length !== 0">
                    <div *ngFor="let p of pendingList">
                        <div *ngFor="let story of p.user_stories">
                            <table>
                                <tr>
                                    <td>{{story.subject}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width: 95%;">{{story.status_extra_info.name}}</td>
                                    <td style="width: 5%;">
                                        <img [src]="story.assigned_to_extra_info.photo">
                                        <br>
                                        <span>{{story.assigned_to_extra_info.username}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="pendingList && pendingList.length === 0">
                    <span style="color: red;">Proyecto consultado no tiene Historia pendientes</span>
                </div>
            </td>
            <td style="width: 5%;">
                <div>
                    <img [src]="user.photo">
                </div>
                <div>
                    <span>{{user.username}}</span>
                </div>
            </td>
        </tr>
    </table>

</div>